/* Form response container styling */
.survey-responses-container {
  max-width: 600px; /* Adjust this value to control container width */
  margin: auto;
}

/* Segment for individual responses */
.survey-response-segment {
  width: 100%;
  max-width: 300px; /* Adjust this value to control segment width */
  margin: auto;
}

.warning {
  width: 550px;
}
